# ignore .env.local
.env.local
.env.test
src/.env.test
docker/.localstack
docker/db_data
docker/tmp
.vscode/

src/__debug_bin

src/infrastructure/http/videos/__debug_bin

.DS_Store

testVideo/

src/assets/gpx_files/

src/GX017107.bin

*.bin

src/test
